<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <!-- 
            v-on:click="test"
            v-on:click="isShow = true"
            v-on:click="click"

            v-on指令可以使用@符号代替（冒号也不要了）
            
            内置的变量 $event 来传递事件对象
            v-on:click="click(a, $event)"

            // 从循环的数组里 同时取成员 和 下标
            // 括号的第一个参数 是成员 第二个参数是下标 不管怎么命名
            v-for="(item, index) in list"
         -->
    <div id="app">
        <!-- <div v-if="isShow">div的内容</div>
        <button v-on:click="click">按钮</button> -->
        <ul>
            <li v-for="(item,index) in list">{{item}}
                <button v-on:click="remove(item,index,$event)">删除</button>
                <button @click="add(item,index,$event)">添加</button>
            </li>
        </ul>
    </div>

    <script>
        const vm = new Vue({
            el: "#app",
            data: {
                isShow:false,
                list:["111","222","333"]
            },
            methods:{ //添加事件的处理函数
                click(){
                    this.isShow=!this.isShow
                },
                remove(item,index,$event){
                    this.list.splice(index, 1)
                },
                add(item,index,$event){
                    this.list.push(item)
                }
            }
        })
    </script>
</body>

</html>