<!DOCTYPE html>
<html lang="en">
<style>
    li {
        list-style: none;
    }

    span {
        margin: 10px;
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <!-- 99乘法表 -->
    <div id="app">
        <div v-for="n in 9">
            <apan v-for="m in n">
                {{m}}*{{n}}={{m*n}}
            </apan>
        </div>
    </div>
    </div>

    <script>
        const vm = new Vue({
            el: "#app"

        })
    </script>
</body>

</html>